### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/
.CS307-DB/

target/
CS307-DB/*

.zed/
Subquery_Implementation_Plan.md
project_task.md
src/main/java/edu/sustech/cs307/BPlusTree/BPlusTree.java
AGGREGATE_FUNCTIONS.md